.footer {
  width: 100%;
  flex: 0 0 auto;
  background: var(--main-color);
}

.github-accounts {
  text-align: center;
  margin: 0 auto !important;
}

.git-acc {
  font-weight: 600;
  margin: 0px 20px;
  color: var(--text-color);
  text-decoration: none;
}
.git-acc:hover {
  color: var(--secondary-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.logo-icon {
  width: 90px;
  margin-right: 20px;
}
.footer-year{
  color: var(--text-color);
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

.footer .MuiContainer-root.MuiContainer-maxWidthXl.css-19r6kue-MuiContainer-root {
  padding: 15px;
}

@media (max-width: 595px){ 
  .footer {
    font-size: 0.9rem;
  }
  .footer-year{
    font-size: 0.9rem;
  }
  .logo-icon {
    width: 70px;
    margin-right: 20px;
  }
  .git-acc {
    font-weight: 500;
    margin: 0px 5px;
  }
}

@media (max-width: 420px){ 
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-1.css-u78q51-MuiGrid-root {
    max-width: 15% !important;
  }
}

@media (max-width: 360px){ 
  .footer-year{
    font-size: 0.85rem;
  }
  .logo-icon {
    width: 60px;
  }
  .footer {
    font-size: 0.85rem;
  }
}