.welcome-page {
  padding: 0;
}

.welcome-page .MuiContainer-root.MuiContainer-maxWidthXl.css-19r6kue-MuiContainer-root {
  padding: 0;
}

.welcome-page .general-text {
  text-align: center;
  padding-left: 80px !important;
  padding-top: 30px !important;
  line-height: 1.5;
  z-index: 1;
}

.general-name {
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-shadow:  4px 2px #9fa2a3;
}

.general-name::after {
  content: '';
  position: relative;
  height: 10px;
  width: 140px;
  color: black;
  top: 4px;
  z-index: 2;
}

.general-desript {
  font-weight: 500;
  letter-spacing: 1.2px;
}

.general-welcome {
  padding: 0;
  background: #f7f7f7;
  height: auto;
}

.general-pict {
  width: 90%;
  height: auto;
  z-index: 0;
}

.authoriz-butt-cont {
  text-align: center;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 1rem !important;
}

.authoriz-buttons {
  margin: 20px;
  align-self: center;
}

.welcome-page button {
  color: black;
  margin-right: 10px;
}

.welcome-page button:hover {
  border-color: #ff8a65;
  color: var(--secondary-color);
}

.desk-text button {
  border-color: var(--main-color);
}

.authoriz-buttons > a:nth-child(2) > button{
  background: var(--main-color);
  color: black;
  font-size: 0.95rem;
  border-color:  var(--main-color);
}

.authoriz-buttons > a:nth-child(2) > button:hover {
  background: #ff8a65;
}

.desk-container {
  margin: 0px auto;
  padding: 80px !important;
  height: auto;
  background: #d8e5eba9;
}

.avatar {
  object-fit: cover;
}

.desk-text,
.course-text {
  margin: 0;
  text-align: center;
  line-height: 1.5;
  z-index: 1;
  font-size: 1.5rem;
}

.desk-pict {
  width: 100%;
  height: auto;
}

.block-line {
  width: 80%;
  height: 2px;
  background: #9fa2a3;
  margin: 30px auto;
}

.welcome-page > .course-container {
  background: #f7f7f7;
  margin: 0;
  padding: 30px !important;
}

.course-title,
.team-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 2rem;
}

.course-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  background: #b0bde7b9;
  border-radius: 10px;
  padding: 40px;
  color: black;
  /* transform: scale(1); */
  transition: 0.5s ease-in-out;
}

.course-block:hover {
  /* transform: scale(1.05); */
  background: rgba(91, 172, 168, 0.76);
  transition: 0.5s ease-in-out;
}

.course-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.course-list {
  margin-top: 20px;
  font-size: 1.3rem;
  list-style: square;
  line-height: 2rem;
}

.team-container {
  background-color: #d8e5eba9;
  padding: 10px 40px !important;
  background-image: 
     url('../assets/welcome/team1.png');
  background-size: 35% auto;
  background-position: left bottom;
  background-repeat: no-repeat ;
}

.team-block > section {
  height: 253px;
}

.team-block > section:nth-child(2) > div {
  margin: 0px auto;
  background: rgba(91, 172, 168, 0.76);
  box-shadow: 0px 0px 5px 10px rgba(63, 83, 82, 0.596);
}

.team-block > section:nth-child(3) > div {
  margin-left: auto;
  background: rgba(91, 103, 172, 0.76);
  box-shadow: 0px 0px 5px 10px rgba(63, 83, 82, 0.596);
}

.css-1rl1og4-MuiGrid-root>.MuiGrid-item {
  max-width: 50% !important;
  margin: 25px;
}

.team-card {
  padding: 30px !important;
  background: rgba(143, 174, 209, 0.76);
  box-shadow: 0px 0px 5px 10px rgba(63, 72, 83, 0.596);
}

.team-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-name {
  margin: 0;
  font-size: 1.4rem;
}

.developer {
  margin: 5px 0 0;
  color: rgb(94, 91, 91);
  font-weight: 400;
}

.git-icon {
  width: 60px;
  height: 40px;
  align-self: flex-end;
  padding: 0;
}
